// this is relative to the component folder
@import "../../print";

@import "../../mixins";

body {
  font-family: Helvetica;
  font-size: 15px;
}

#guitar-fretboard-wrapper {
  overflow: auto;
  
  .guitar-fretboard {
    background-color: #f1f1ba;
    margin-top: 20px;
    padding: 10px 0;
    position: relative;
    overflow: hidden;

    width: 1424px;

    /* strings */
    .guitar-string-wrapper {
      padding: 20px 0;
      position: relative;

      .guitar-string {
        background-color: #111;
      }
    }

    /* bullet */
    .note-bullet {
      @include border-radius(24px);
    
      position: absolute;
      background-color: #333;
      color: #fafafa;
      width: 28px;
      display: inline-block;
      height: 28px;
      cursor: pointer;

      top: 6px;

      &:hover {
        background-color: #fafafa;
        color: #333;
      }

      .note-name {
        position: absolute;
        display: inline-block;
        width: 100%;
        text-align: center;
        top: 5px;
      }

      .note-number {
        position: absolute;
        display: inline-block;
        left: 30px;
        bottom: -7px;
        color: #333;
        font-size: 0.9em;
      }
    }

    /* frets */
    .guitar-fret-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .guitar-fret-bar {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        border-right: 1px solid #ccc;
      }

      .guitar-fret {
        height: 100%;
        display: inline-block;
        float: left;
        position: relative;
      }
    }

    /* nut */
    .open-note .note-number {
      color: #aaa;
    }
  }
}

//#guitar-fretboard .note-bullet.note-number-1 {
//  border-radius: 0;
//}
//
///* colors for specific scale notes */
//#guitar-fretboard[data-mode="IIIIIonian"] .note-bullet.note-number-2,
//#guitar-fretboard[data-mode="IIIIIonian"] .note-bullet.note-number-3,
//#guitar-fretboard[data-mode="IIIIIonian"] .note-bullet.note-number-7 {
//  color: #333;
//  background-color: #ffffff;
//}
//#guitar-fretboard[data-mode="IIIIIonian"] .note-bullet.note-number-6 {
//  color: #fafafa;
//  background-color: #4c4c90;
//}