@media print {
  body {
    padding: 0;
    margin: 0; } }

body {
  font-family: Helvetica;
  font-size: 15px; }

#guitar-fretboard-wrapper {
  overflow: auto; }
  #guitar-fretboard-wrapper .guitar-fretboard {
    background-color: #f1f1ba;
    margin-top: 20px;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    width: 1424px;
    /* strings */
    /* frets */
    /* nut */ }
    #guitar-fretboard-wrapper .guitar-fretboard .guitar-string-wrapper {
      padding: 20px 0;
      position: relative; }
      #guitar-fretboard-wrapper .guitar-fretboard .guitar-string-wrapper .guitar-string {
        background-color: #111; }
    #guitar-fretboard-wrapper .guitar-fretboard .guitar-fret-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
      #guitar-fretboard-wrapper .guitar-fretboard .guitar-fret-wrapper .guitar-fret-bar {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        border-right: 1px solid #ccc; }
      #guitar-fretboard-wrapper .guitar-fretboard .guitar-fret-wrapper .guitar-fret {
        height: 100%;
        display: inline-block;
        float: left;
        position: relative; }
    #guitar-fretboard-wrapper .guitar-fretboard .open-note .note-number {
      color: #aaa; }
